createdAt: "2019-05-29T06:06:48.112Z"
updatedAt: "2019-05-29T06:06:52.814Z"
type: "MARKDOWN_NOTE"
folder: "07413230992e30754bd9"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
