createdAt: "2019-03-15T20:50:06.686Z"
updatedAt: "2019-03-15T20:50:22.786Z"
type: "SNIPPET_NOTE"
folder: "07413230992e30754bd9"
title: ""
tags: []
description: ""
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: null
    content: "X"
  }
]
isStarred: false
isTrashed: true
