createdAt: "2020-03-03T16:15:32.974Z"
updatedAt: "2020-05-12T13:51:06.787Z"
type: "MARKDOWN_NOTE"
folder: "07413230992e30754bd9"
title: "Event organisers identified that finding new martial arts schools by manually searching the internet can be time consuming. When searching for institutions, such as universities and collages, the event organisers will identify the institutions that support the same martial art as the event they are hosting; the event organiser contacts the martial art club at the chosen institutions through the student's union websites."
tags: []
content: "Event organisers identified that finding new martial arts schools by manually searching the internet can be time consuming. When searching for institutions, such as universities and collages, the event organisers will identify the institutions that support the same martial art as the event they are hosting; the event organiser contacts the martial art club at the chosen institutions through the student's union websites. "
linesHighlighted: []
isStarred: false
isTrashed: true
