createdAt: "2019-09-30T08:32:17.220Z"
updatedAt: "2019-10-05T16:02:24.550Z"
type: "MARKDOWN_NOTE"
folder: "07413230992e30754bd9"
title: "Networking past paper 2019"
tags: [
  "CM30078"
  "Networks"
  "Past_Paper"
]
content: '''
  # Networking past paper 2019
  
  ## Question 1
  ### a. Describe, in general principles, the classful system for network addresses [4]:
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: true
