createdAt: "2019-04-22T18:34:26.844Z"
updatedAt: "2019-04-23T14:42:14.801Z"
type: "MARKDOWN_NOTE"
folder: "07413230992e30754bd9"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
