createdAt: "2019-05-25T16:08:16.934Z"
updatedAt: "2019-05-25T16:08:25.146Z"
type: "MARKDOWN_NOTE"
folder: "07413230992e30754bd9"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: false
