createdAt: "2020-01-12T12:19:15.138Z"
updatedAt: "2020-01-12T12:23:28.474Z"
type: "MARKDOWN_NOTE"
folder: "07413230992e30754bd9"
title: ""
tags: [
  "CM30072"
  "Computer_Science"
  "Safety-Critical_Systems"
  "University"
]
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
