createdAt: "2019-07-04T06:19:08.927Z"
updatedAt: "2019-07-04T06:37:16.056Z"
type: "MARKDOWN_NOTE"
folder: "07413230992e30754bd9"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
