createdAt: "2019-10-18T11:51:15.817Z"
updatedAt: "2019-10-20T11:11:04.740Z"
type: "MARKDOWN_NOTE"
folder: "07413230992e30754bd9"
title: "Smartphone Addiction"
tags: [
  "CM30082"
  "Computer_Science"
  "University"
  "User_Experience"
]
content: '''
  # Smartphone Addiction
  
  ## What is it?
  ### Overview of mobile addiction/ social media addiction
  - The problem involves 3 main addictions:
    - Proplematic smartphone usage
    - Problematic social media usage
    - Internet addiction dissorder
    - All three are closely linked and have very similar side effects and causes (this is me just guessing) [Social Networking Sites and Addiction: Ten Lessons Learned](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5369147/)?
  - Closely related to gambling addictions
    - Could talk about symptoms
    - Problems with that
    - How people go about solving these kind of addictions
  - Excessive social media use has not been recognized as a disorder by the World Health Organization or the Diagnostic and Statistical Manual of Mental Disorders (DSM-5). However, the related diagnosis of gaming disorder has been included in the International Classification of Diseases (ICD-11).
  - Fear of being without your phone
  - Founded in current research on the adverse consequences of overusing technology, "mobile phone overuse" has been proposed as a subset of forms of "digital addiction", or "digital dependence", reflecting increasing trends of compulsive behaviour amongst users of technological devices.
    - [Cell-Phone Addiction: A Review](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5076301/)
  
  ### Statistics about app usage 
  
  ---
  
  ## What are the problems with it?
  
  ---
  
  ## What makes apps addivtive?
  
  ### Talk about addictive ux
  
  ### Hooked 4 steps Nit Eyal
  
  ###Gamification
  
  ### Talk about addictive behaviour?
  Foggs behaviour grid?
  It looks like Fogg has done a bunch of research into this area
  
  ---
  
  ## Possible solutions
  
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
