createdAt: "2019-03-16T17:00:16.307Z"
updatedAt: "2019-03-20T08:05:02.499Z"
type: "MARKDOWN_NOTE"
folder: "07413230992e30754bd9"
title: "Confidence Intervals"
tags: [
  "Mathematics"
  "Statistics"
]
content: '''
  # Confidence Intervals
  
  ###### Definition
  A range of values defined so that there is a specified probability that the value of a parameter lies within it.
  
  This is easy to explain using a bell curve:
  ![maxresdefault.jpg](https://i.ytimg.com/vi/gdCvrpPZyRQ/maxresdefault.jpg =400x)
  
  So there is a 95% change that a value is within two standated deviations of the sample mean. 
  
  ###### The Empirical Rule
  Under some assumptions:
  - ~68% of data is within 1 standard deviation of the mean
  - ~94% of data is within 1.96 standard deviations of the mean
  - ~99.7 of data is with i3 standard deviations of the mean
  _(this is shown in the bell curve above)_
  
  ###### The assumptions:
  - The mean estimation error is zero
  - The distribution of the errors in the estimates is normal 
  
  ###### Intergration
  You can use integration to find the probability of a value being between two points.
  The probability is equal to the area under the curve.
'''
linesHighlighted: [
  0
  59
]
isStarred: false
isTrashed: false
