createdAt: "2020-02-22T17:17:06.349Z"
updatedAt: "2020-05-12T13:51:04.136Z"
type: "MARKDOWN_NOTE"
folder: "07413230992e30754bd9"
title: "June:"
tags: []
content: '''
  June:
  Pros
  - Bali arts festival 13 June - 14th of July
  - Busy but not too busy
  - Tenganan Pengringsingan Festival (Hindu thing i think) 11 - 12th
  - Twin Lake Festival 17th - 20th
  
  July:
  Pros
  - Bali arts festival 13 June - 14th of July
  - Bali Kite Festival (if thats what your in to)
  - Makepung Race, Governor Cup (water buffalo race lol) 12th
  Cons
  - Second busiest time of the year
  - Is your graduation around this time?
  
  August:
  Pros
  - Indonesian Independence Day
  - Surf Contests (apparently, i looked for some but couldnt find anyway)
  - Ubud Village Jazz Festival 14 - 15th
  - Sanur Village Festival 21-25th
  - Tirta Gangga Festival 28 - 30th 
  Cons
  - Busiest time of the year
  
  September:
  Pros
  - A lot quieter than July/August
  - Ujung Water Palace Festival 15-17th
  - Balinale International film Festival 24-30th
  - Petitenget Arts & Spirit Festival 25th
  - Lovina Festival 27-30th
  Cons
  - Weather might not be as good
'''
linesHighlighted: []
isStarred: false
isTrashed: true
