createdAt: "2019-10-19T19:28:14.405Z"
updatedAt: "2019-10-21T19:36:44.357Z"
type: "MARKDOWN_NOTE"
folder: "07413230992e30754bd9"
title: "Papers that might be helpflul"
tags: [
  "CM30082"
  "Computer_Science"
  "University"
  "User_Experience"
]
content: '''
  # Papers that might be helpflul
  
  ### The report also found a U-shaped, curvilinear relationship between the amount of time spent on digital media with risk of depression developing, at both the low and high ends of Internet use.
  [Children and Adolescents and Digital Media \\| American Academy of Pediatrics](https://pediatrics.aappublications.org/content/138/5/e20162593)
  Interesting - this involves getting a healthy relationship with social media, being able to manage this stuff youself?
  
  ### Problematic smartphone use wiki
  [Problematic smartphone use - Wikipedia](https://en.wikipedia.org/wiki/Problematic_smartphone_use)
  
  ### Good summary of smartphone addiction
  [Signs and Symptoms of Cell Phone Addiction - PsychGuides.com](https://www.psychguides.com/behavioral-disorders/cell-phone-addiction/signs-and-symptoms/)
  It also has a bunch of really good papers cited
  e4 ,.
  ### Overview of smartphone addiction
  [Smartphone Addiction - HelpGuide.org](https://www.helpguide.org/articles/addictions/smartphone-addiction.htm)
  
  ### Social media addiction among university students
  [](https://pdfs.semanticscholar.org/e340/90af0a717055c7742f323f56ea17af0c8a3a.pdf)
  This references a paper by Young in 1996 which might be really helpful
  
  ### Role of content in social media addiction
  [](https://akademiai.com/doi/pdf/10.1556/2006.6.2017.058)
  
  ### Some apps to prevent mobile addiction
  [7 Apps To Curb Smartphone Addiction And Boost Productivity](https://www.geckoandfly.com/23509/smartphone-addiction-boost-productivity/)
  [15 Best Apps to Stop Your Smartphone Addiction for Android](https://www.techrrival.com/best-apps-to-stop-your-smartphone-addiction/)
  
  ### This is a really good video around addictive ux 
  [New Video - "Hooked: Building Habit-Forming Products"](https://www.nirandfar.com/new-video-hooked-the-psychology-of-how-products-engage-us/)
  
  ### Leaving facebook = higher level of wellbeing
  [](https://www.liebertpub.com/doi/full/10.1089/cyber.2016.0259)
  
  ### Estimatiing smartphone addiction proneness
  [Estimating Smartphone Addiction Proneness Scale through the State of Use of Terminal and Applications](https://dl.acm.org/citation.cfm?id=3267700)
  
  ### Rough overview of application addiction
  [App Addiction — the Invisible Plague - UX Planet](https://uxplanet.org/app-addiction-the-invisible-plague-73447926d734)
  
  ### Paper into mobile phone addiction
  [How Much is 'Too Much'?](https://dl.acm.org/citation.cfm?id=3274370)
  
  ### This looks like it might be promising
  [Addicted to Social Media? \\| Psychology Today UK](https://www.psychologytoday.com/gb/blog/in-excess/201805/addicted-social-media)
  
  ### Good overview of social media addiction
  [Social Media Addiction - Addiction Center](https://www.addictioncenter.com/drugs/social-media-addiction/)
  Not sure if i can use it as a reference though
  
  ### Average time spent on social media
  [• Global time spent on social media daily 2018 \\| Statista](https://www.statista.com/statistics/433871/daily-social-media-usage-worldwide/)
  
  ### Average time spent per country
  [• Daily social media usage in by country 2018 \\| Statista](https://www.statista.com/statistics/270229/usage-duration-of-social-networks-by-country/)
  
  ### Total users
  [• Global digital population 2019 \\| Statista](https://www.statista.com/statistics/617136/digital-population-worldwide/)
  
  ### This has a good overview of a bunch of studies including addiction
  [](https://www.liebertpub.com/doi/full/10.1089/cyber.2014.0070)
  
  ### Overview of social media usage
  [Mobile social media - Statistics & Facts \\| Statista](https://www.statista.com/topics/2478/mobile-social-networks/)
  
  ### First study into depression and social networks
  In 1998, Kraut et al. published one of the first studies to indicate that Internet use in general significantly affects social relationships and participation in community life.1 In this research, the authors found that increased time spent online is related to a decline in communication with family members, as well as the reduction of the Internet user's social circle, which may further lead to increased feelings of depression and loneliness. 
  [](https://www.liebertpub.com/doi/full/10.1089/cyber.2014.0070#B1)
  
  ### Another study into childs social development and social media
  Another source showing the negative imparct of social media on childs social development
  [](https://www.liebertpub.com/doi/full/10.1089/cyber.2014.0070#B2)
  
  ### The first two studies above were created before most of the social media sights were created, plus there was not as much of an emphasys on addictive UX
  
  ### More recent stufy into social media and depression 
  [](https://www.liebertpub.com/doi/full/10.1089/cyber.2014.0070#B3)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
